[submodule "vendor/re2c"]
	path = vendor/re2c
	url = https://github.com/skvadrik/re2c.git
[submodule "vendor/blake2"]
	path = vendor/blake2
	url = https://github.com/BLAKE2/BLAKE2.git
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendor/catch"]
	path = vendor/catch
	url = https://github.com/philsquared/Catch.git
[submodule "vendor/grpc"]
	path = vendor/grpc
	url = https://github.com/grpc/grpc.git
[submodule "vendor/junction"]
	path = vendor/junction
	url = https://github.com/preshing/junction.git
[submodule "vendor/turf"]
	path = vendor/turf
	url = https://github.com/preshing/turf.git
